# .gitignore is to filter out files that git source control should ignore
# see
# http://www.lostechies.com/blogs/derickbailey/archive/2009/05/18/a-net-c-developer-s-gitignore-file.aspx

# output files
*.cache
*.xap
*.exe
*.exe.manifest

# test state
*.vsmdi
*.testrunconfig

# local preferences
*.suo
*.user

# folders where the compiler puts stuff
bin
Bin
obj
TestResults
_ReSharper*
_old
_import
Silverlight/Netsy.Favorites/Bin
Backup
Backup1
_Upgrade*
UpgradeLog*


# Code analysis output
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded

# files from imported dlls
Microsoft.Practices.ObjectBuilder2.xml
Microsoft.Practices.Unity.xml


